body {
    font-family: Arial, sans-serif;    
    padding: 0;
    display: block;
    height: 100vh;  
    text-align: center;
    width: 100%;
    background-image:url("./Images/d8db71ccfa28d605b7c4cdb475881c27-abstract-bokeh-circles-green-background.jpg");
    overflow-y: hidden;
    overflow-x: hidden;
}

#container {
    text-align: center;
    background-color: rgba(156, 143, 155, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    margin-left: 20rem;
}

h1 {
    margin-bottom: 50px;
    color: #021702;
    font-size: 50px;
    font-weight: 20px;
}

#text-input {
    padding: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    width: 65%;
}

#check-btn {
    padding: 10px 20px;
    background-color: #092403;
    color: #f6fcf4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 5px;
}

#check-btn:hover {
    background-color: #1a9d08;
}

#result {
    margin-top: 20px;
    font-size: 30px;
    color: #061c11;
}